<div class="header-area">
  <div class="top-area">
    <div class="logo-container">
      <div class="logo" routerLink="/"></div>
    </div>
    <div class="sign-in" *ngIf="!signedIn"><a [routerLink]="[{ outlets: { action: ['sign-in'] } }]">sign in</a></div>
    <div class="account-profile" *ngIf="signedIn"><span [matMenuTriggerFor]="accountProfileMenu">{{account.username}}</span></div>
    <mat-menu #accountProfileMenu="matMenu" [yPosition]="'below'">
      <span mat-menu-item><span (click)="signOut()">sign out</span></span>
    </mat-menu>
  </div>
  <div class="nav-area" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="36px">
    <div class="nav-item" routerLink="/activity" [class.highlight]="isHighlight[0]" (mouseenter)="highlight(0)" (mouseleave)="removeHighlight(0)"><span>activity</span></div>
    <div class="nav-item" routerLink="/movie" [class.highlight]="isHighlight[1]" (mouseenter)="highlight(1)" (mouseleave)="removeHighlight(1)"><span>movie</span></div>
    <div class="nav-item" routerLink="/tv-series" [class.highlight]="isHighlight[2]" (mouseenter)="highlight(2)" (mouseleave)="removeHighlight(2)"><span>tv series</span></div>
    <div class="nav-item" routerLink="/fashion" [class.highlight]="isHighlight[3]" (mouseenter)="highlight(3)" (mouseleave)="removeHighlight(3)"><span>fashion</span></div>
    <div class="nav-item" routerLink="/advertisement" [class.highlight]="isHighlight[4]" (mouseenter)="highlight(4)" (mouseleave)="removeHighlight(4)"><span>advertisement</span></div>
    <div class="nav-item" routerLink="/daily-life" [class.highlight]="isHighlight[5]" (mouseenter)="highlight(5)" (mouseleave)="removeHighlight(5)"><span>daily life</span></div>
  </div>
</div>