<div class="header-area">
  <div class="top-area">
    <div class="logo-container">
      <img>
    </div>
  </div>
  <div class="nav-area" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="36px">
    <div class="nav-item" appMenubarItem routerLink="activity" routerLinkActive="active"><span>activity</span></div>
    <div class="nav-item" appMenubarItem routerLink="movie" routerLinkActive="active"><span>movie</span></div>
    <div class="nav-item" appMenubarItem routerLink="tv-series" routerLinkActive="active"><span>tv series</span></div>
    <div class="nav-item" appMenubarItem routerLink="fasion-show" routerLinkActive="active"><span>fasion show</span></div>
    <div class="nav-item" appMenubarItem routerLink="advertisement" routerLinkActive="active"><span>advertisement</span></div>
    <div class="nav-item" appMenubarItem routerLink="daily-life" routerLinkActive="active"><span>daily life</span></div>
  </div>
</div>