<div class="footer-area" fxLayout="column" fxLayoutAlign="space-evenly center">
  <p class="text-area">
    Follow
  </p>
  <nav class="nav-area" fxShow [fxShow.xs]="false" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="72px">
    <a href="https://www.facebook.com/wuleileo1999/"><i class="ion-social-facebook"></i></a>
    <a href="https://www.twitter.com"><i class="ion-social-twitter"></i></a>
    <a href="https://www.youtube.com"><i class="ion-social-youtube"></i></a>
    <a href="https://www.instagram.com/wuleileo/"><i class="ion-social-instagram"></i></a>
    <a href="https://www.tumblr.com"><i class="ion-social-tumblr"></i></a>
  </nav>
</div>