.post-liked-area {
  width: 100vw;
  padding-top: 12px;
  padding-bottom: 36px;
}

.post-liked {
  display: block;
  position: relative;
  width: 1280px / 1440px * 100vw;
  height: 480px / 1440px * 100vw;
}