@import '../app-theme';

.show-plus-gallery-area {
  width: 100vw;

  .post-essential-container {
    padding-top: 12px;
    padding-bottom: 24px;
    width: 1280px / 1440px * 100%;
    height: 480px;
    @extend .horizontal-center;

    app-post-preview {
      display: block;
      position: absolute;
      width: 100%;
      height: 480px;
    }

    .post-title-container {
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.4);
      width: 160px;
      height: 36px;
      right: 0px;
      bottom: 24px;
      border-top-left-radius: 6px;

      .post-title {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: #b0b0b0;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  app-playbill-gallery {
    display: block;
    position: relative;
    margin-bottom: 12px;
    width: 1280px / 1440px * 100%;
    @extend .horizontal-center;
  }
}

.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

:host {
  display: block;
  position: relative;
}