<div class="menubar-mobile-area">
  <div class="close-row">
    <i class="ion-ios-close-empty" (click)="emitCloseMenubarMobileRequest()"></i>
  </div>
  <nav class="nav-rows">
    <div class="nav-row" routerLink="/activity" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">activity</div>
    </div>
    <div class="nav-row" routerLink="/movie" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">movie</div>
    </div>
    <div class="nav-row" routerLink="/tv-series" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">tv series</div>
    </div>
    <div class="nav-row" routerLink="/fashion" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">fashion</div>
    </div>
    <div class="nav-row" routerLink="/advertisement" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">advertisement</div>
    </div>
    <div class="nav-row" routerLink="/daily-life" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">daily life</div>
    </div>
  </nav>
</div>