<div class="menubar-mobile-area">
  <div class="close-row">
    <i class="ion-ios-close-empty" (click)="emitCloseMenubarMobileRequest()"></i>
  </div>
  <nav class="nav-rows">
    <div class="nav-row" routerLink="activity" routerLinkActive="active" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">activity</div>
    </div>
    <div class="nav-row" routerLink="movie" routerLinkActive="active" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">movie</div>
    </div>
    <div class="nav-row" routerLink="tv-series" routerLinkActive="active" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">tv series</div>
    </div>
    <div class="nav-row" routerLink="fasion-show" routerLinkActive="active" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">fasion show</div>
    </div>
    <div class="nav-row" routerLink="advertisement" routerLinkActive="active" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">advertisement</div>
    </div>
    <div class="nav-row" routerLink="daily-life" routerLinkActive="active" (click)="emitCloseMenubarMobileRequest()">
      <div class="nav-text">daily life</div>
    </div>
  </nav>
</div>