@import '../app-theme';

.playbill-gallery-area {
  width: 100%;
  height: 176px;

  .arrow-left {
    @extend .arrow;
    position: absolute;
    left: 0px;
    top: 72px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .showable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .playbill-container {
      position: absolute;
      height: 100%;
      transition-timing-function: ease-in-out;
      transition-duration: 0.5s;

      .playbill-plus-title {
        width: 108px;
        height: 176px;

        .playbill {
          width: 108px;
          height: 144px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .title-container {
          width: 108px;
          height: 32px;

          .title {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
            color: $primary-color;
            text-align: center;
          }
        }
      }
    }
  }

  .arrow-right {
    @extend .arrow;
    position: absolute;
    right: 0px;
    top: 72px;
    transform: translate(50%, -50%);
    z-index: 1;
  }
}

.arrow {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: $primary-button-color;
}

i {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}