@import '../app-theme';

.top-post-container {
  display: block;
  position: relative;
  width: 100vw;
  height: 50vw;
}

.featured-post-container {
  padding-top: 36px;
  padding-bottom: 36px;
}

.featured-post {
  display: block;
  position: relative;
  width: 1280px / 1440px * 100vw;
  height: 480px / 1440px * 100vw;
}

:host {
  display: block;
  position: relative;
}