<div class="post-preview-area" *ngIf="pictures" fxLayout="column" [routerLink]="['/p', post.id]" [ngClass]="animationClass">
  <div class="post-preview-row" *ngFor="let rowContent of pictures" fxLayout="row" [style.height.%]="onePictureHeight">
    <div class="one-picture-container" *ngFor="let picture of rowContent" [style.width.%]="onePictureWidth">
      <img src="{{imageURL + picture}}">
    </div>
  </div>
</div>
<div class="place-holder" *ngIf="!pictures">
  <div class="tip-text">No preview</div>
</div>