<app-menubar-mobile fxHide [fxHide.xs]="false" [style.left.%]="menubarMobileOpen ? '0' : '-100'" (closeMenubarMobileRequest)="closeMenubarMobile()"></app-menubar-mobile>
<div class="plain-content" [class.noScrollable]="menubarMobileOpen">
  <app-header fxShow [fxShow.xs]="false"></app-header>
  <app-header-mobile fxHide [fxHide.xs]="false" (openMenubarMobileRequest)="openMenubarMobile()"></app-header-mobile>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<router-outlet name="action"></router-outlet>