<div class="post-area">
  <app-slide *ngIf="pictures">
    <app-slide-show *ngFor="let picture of pictures">
      <div class="picture-container" (click)="show(picture)">
        <img src="{{baseURL + picture.source}}">
      </div>
    </app-slide-show>
    <app-slide-show>
      <div class="picture-container">
        <div class="tip-text">No more pictures</div>
      </div>
    </app-slide-show>
    <div class="previous" slide-previous>
      <i class="ion-ios-arrow-left"></i>
    </div>
    <div class="next" slide-next>
      <i class="ion-ios-arrow-right"></i>
    </div>
  </app-slide>
</div>
<div class="picture-show" *ngIf="showPicture">
  <div class="picture-container-big">
    <img src="{{baseURL + showPicture.source}}">
  </div>
  <div class="close" (click)="close()">
    <i class="ion-ios-close-empty"></i>
  </div>
</div>