@import '../app-theme';

.post-area {
  width: 100vw;

  .title-plus-heart {
    width: 1280px / 1440px * 100%;
    height: 48px;

    .title-container {
      position: absolute;
      left: 0px;
      right: 48px;
      height: 100%;

      .title {
        width: 100%;
        text-align: left;
        font-size: 24px;
        color: $primary-color;
      }

      .title-placeholder {
        @extend .title;
      }
    }

    .heart-container {
      position: absolute;
      right: 0px;
      width: 48px;

      .heart-icon {
        font-size: 36px;
        color: #e44336;
      }

      .heart-outline-icon {
        font-size: 36px;
        color: #a0a0a0
      }
    }
  }

  .essay-container {
    width: 1280px / 1440px * 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: left;
  }
}

app-slide {
  padding-top: 12px;
  padding-bottom: 24px;
  width: 1280px / 1440px * 100%;
  height: 480px;
}

.previous {
  width: 36px;
  height: 72px;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
}

.next {
  @extend .previous;
}

i {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}

.picture-container {
  width: 100%;
  height: 100%;
  background-color: #000000;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.tip-text {
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: #505050;
  text-align: center;
}