<div class="overlay" fxLayout="column" fxLayoutAlign="center center">
  <div class="background-canvas" [style.animationName]="backgroundCanvasAnimation"></div>
  <div class="showable" [style.animationName]="showableAnimation">
    <div class="picture-show">
      <img *ngIf="featuredPicture" src="{{baseURL + featuredPicture.source}}">
      <div (click)="close()">
        <i class="ion-ios-close-empty"></i>
      </div>
    </div>
    <div class="title">
      <span>Sign up</span>
    </div>
    <div class="steps" fxLayout="row" fxLayoutAlign="space-around center" [style.left.%]="styleLeft">
      <div class="username-step">
        <form autocomplete="off" [formGroup]="usernameGroup" (ngSubmit)="nextStep('username')" novalidate>
          <mat-form-field>
            <input matInput placeholder="{{usernamePlaceholder}}" formControlName="usernameControl" maxlength="10" required>
            <mat-hint>2 to 10 charactors is required</mat-hint>
          </mat-form-field>
          <button mat-button type="submit">Next</button>
        </form>
      </div>
      <div class="password-step">
        <form [formGroup]="passwordGroup" (ngSubmit)="nextStep('password')" novalidate>
          <mat-form-field>
            <input matInput type="password" placeholder="{{passwordPlaceholder}}" formControlName="passwordControl" maxlength="10" required>
            <mat-hint>2 to 10 charactors is required</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button type="submit">Next</button>
          </div>
        </form>
      </div>
      <div class="password-confirm-step">
        <form [formGroup]="passwordConfirmGroup" (ngSubmit)="signUp()" novalidate>
          <mat-form-field>
            <input matInput type="password" placeholder="{{passwordConfirmPlaceholder}}" formControlName="passwordConfirmControl" maxlength="10" required>
            <mat-hint>2 to 10 charactors is required</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button color="accent" type="submit">Sign Up</button>
          </div>
        </form>
      </div>
      <div class="tip-step">
        <div>{{signUpFailedMessage}}</div>
        <button mat-button type="button" (click)="tryAgain()">Try again</button>
      </div>
    </div>
  </div>
</div>