<div class="slide-area">
  <div class="showable">
    <div class="show-container" *ngFor="let showElement of showElements, index as i" [@position]="positions[i]">
      <app-show [showElement]="showElement"></app-show>
    </div>
  </div>
  <div class="slide-indicator-container" *ngIf="showIndicator" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
    <div class="slide-indicator" *ngFor="let _ of showElements, index as i" [class.slideIndicatorActive]="i === currentIndex" (click)="moveTo(i)"></div>
  </div>
</div>