<div class="footer-mobile-area" fxLayout="column" fxLayoutAlign="center center">
  <p class="text-area">
    Follow
  </p>
  <nav class="nav-area" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="22px">
    <a href="https://www.facebook.com"><i class="ion-social-facebook"></i></a>
    <a href="https://www.twitter.com"><i class="ion-social-twitter"></i></a>
    <a href="https://www.youtube.com"><i class="ion-social-youtube"></i></a>
    <a href="https://www.instagram.com"><i class="ion-social-instagram"></i></a>
    <a href="https://www.tumblr.com"><i class="ion-social-tumblr"></i></a>
  </nav>
</div>