.post-preview-area {
  width: 100%;
  height: 100%;
  outline: none;

  .post-preview-row {
    width: 100%;
    height: 100%;
    
    .one-picture-container {
      width: 100%;
      height: 100%;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.place-holder {
  width: 100%;
  height: 100%;
  background-color: #000000;

  .tip-text {
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    color: #505050;
    text-align: center;
  }
}

.animationDisappear {
  animation-name: disappear;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 100ms;
}

.animationAppear {
  animation-name: appear;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-duration: 200ms;
}