<div class="post-area" fxLayout="column" fxLayoutAlign="start center" *ngIf="post">
  <app-slide *ngIf="pictureIds">
    <app-slide-show *ngFor="let pictureId of pictureIds">
      <div class="picture-container">
        <img src="{{imageUrl + '/' + + pictureId}}">
      </div>
    </app-slide-show>
    <app-slide-show>
      <div class="picture-container">
        <div class="tip-text">No more pictures</div>
      </div>
    </app-slide-show>
    <div class="previous" slide-previous>
      <i class="ion-ios-arrow-left"></i>
    </div>
    <div class="next" slide-next>
      <i class="ion-ios-arrow-right"></i>
    </div>
  </app-slide>
  <div class="title-plus-heart" fxLayout="row" fxLayoutAlign="start center">
    <div class="title-container" fxLayout="row" fxLayoutAlign="start center">
      <h1 class="title" *ngIf="post.title">{{post.title}}</h1>
      <h1 class="title-placeholder" *ngIf="!post.title">No Title</h1>
    </div>
    <div class="heart-container">
      <i class="ion-ios-heart heart-icon" *ngIf="likedPost" (click)="dislikePost()"></i>
      <i class="ion-ios-heart-outline heart-outline-icon" *ngIf="!likedPost" (click)="likePost()"></i>
    </div>
  </div>
  <div class="essay-container">
    <p class="essay">{{post.essay}}</p>
  </div>
</div>
<app-footer fxShow [fxShow.xs]="false"></app-footer>
<app-footer-mobile fxHide [fxHide.xs]="false"></app-footer-mobile>