@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  font-family: 'lato', sans-serif;
  font-size: 12px;
}

body {
  margin: 0px;
}

div {
  position: relative;
}

p {
  position: relative;
}

span {
  position: relative;
}

img {
  position: relative;
}

a,
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

.log-in-dialog {
  .mat-dialog-container {
    padding: 0px;
    width: 400px;
    height: 400px;
  }
}