@import './app/app-mat-theme';
@import './app/app-animation';

html {
  font-family: 'lato', sans-serif;
  font-size: 12px;
}

body {
  margin: 0px;
}

div {
  position: relative;
}

p {
  position: relative;
}

span {
  position: relative;
}

img {
  position: relative;
}

a,
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}
